.wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

  overflow: hidden;
  background: rgba(182, 181, 188, 0.44);
}

.modal {
  width: 440px;

  background: #FFFFFF;
  border-radius: 5px;
}

.top {
  display: flex;
  justify-content: flex-end;

  button {
    width: calc(15px + 12.5px * 2);
    height: calc(15px + 12.5px * 2);

    padding: 12.5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}
