.button {
  max-width: 100%;

  border: 1px solid #E1E0EA;
  background: #FFFFFF;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
  }

  font-family: InterMedium, sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}